#mapWrap{
    position:relative;
    width: 960px;
    height: 640px;
    margin:0 auto;
    border: 1px solid #000000;
}

#mapWrap .cellWrap{
    position:relative;
    float:left;
    width:32px;
    height:32px;
}

#mapWrap .cellWrap > div{
    position:absolute;
    width:32px;
    height:32px;
}

.backGround1{
    z-index: 2;
}
.backGround1a{
    z-index: 3;
}
.backGround2{
    z-index: 4;
}
.backGround2a{
    z-index: 5;
}
.playerLayer1{
    z-index: 6;
}
.foreGround1{
    z-index: 7;
}
.foreGround1a{
    z-index: 8;
}
.foreGround2{
    z-index: 9;
}
.foreGround2a{
    z-index: 10;
}